In [14]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
pd.options.mode.chained_assignment = None

from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import mutual_info_classif
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from imblearn.under_sampling import RandomUnderSampler,NearMiss
from imblearn.over_sampling import RandomOverSampler,SMOTE
from sklearn.preprocessing import MinMaxScaler

In [15]:
train_data= pd.read_csv(r"/content/drive/MyDrive/HousePrice  - Sheet1.csv")

In [16]:
train_data.head()

    Location     Price  Beds  Baths  Area  Parking  Elevators
0    Gulshan  30000000     4      5  2600        1          1
1    Gulshan  32000000     3      4  2283        1          1
2  Dhanmondi   7000000     3      3  1280        0          1
3  Dhanmondi   8000000     3      3  1240        0          1
4  Dhanmondi  11500000     3      3  1550        1          1

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
train_data.isna().sum()

Location     0
Price        0
Beds         0
Baths        0
Area         0
Parking      0
Elevators    0
dtype: int64

In [19]:
train_data.dropna(inplace=True)

In [20]:
##train_data.replace({'Location':{'Gulshan':0,'Dhanmondi':1,'Hazaribag':2,'Keraniganj':3,'Lalmatia':4,'Banasree':5,'Adabor':6,'Bashbari':7,'Mohammadpur':8,'Farmgate':9,'Chaduddan':10,'Agargaon':11,'Savar':12,'Kalabagan':13,'Shymoli':14,'Banani':15,'Mohakhali':16,'Rampura':17,'Mirpur':18,'Uttara':19,'Kafrul':20,'Tejgaon':21,'Khilgaon':22}},inplace=True)

In [21]:
train_data.head()

    Location     Price  Beds  Baths  Area  Parking  Elevators
0    Gulshan  30000000     4      5  2600        1          1
1    Gulshan  32000000     3      4  2283        1          1
2  Dhanmondi   7000000     3      3  1280        0          1
3  Dhanmondi   8000000     3      3  1240        0          1
4  Dhanmondi  11500000     3      3  1550        1          1

In [22]:
dependent='Price'
independent=train_data.columns.tolist()
independent.remove(dependent)
X=train_data[independent].values
y=train_data[dependent].values
y=y.reshape(-1,1)

In [23]:
print(X)
print(y)

[['Gulshan' 4 5 2600 1 1]
 ['Gulshan' 3 4 2283 1 1]
 ['Dhanmondi' 3 3 1280 0 1]
 ...
 ['Khilgaon' 2 2 700 0 1]
 ['Khilgaon' 3 3 1150 0 1]
 ['Khilgaon' 2 2 800 0 0]]
[[30000000]
 [32000000]
 [ 7000000]
 [ 8000000]
 [11500000]
 [ 7000000]
 [11500000]
 [ 8000000]
 [ 6000000]
 [ 5225000]
 [ 5200000]
 [ 4500000]
 [ 4950000]
 [ 4800000]
 [ 3600000]
 [ 2500000]
 [ 4400000]
 [ 5300000]
 [21000000]
 [29500000]
 [24000000]
 [ 9200000]
 [13500000]
 [14800000]
 [14000000]
 [20000000]
 [ 9000000]
 [22000000]
 [22000000]
 [ 4000000]
 [15000000]
 [20000000]
 [17000000]
 [ 8000000]
 [29500000]
 [30700000]
 [ 6000000]
 [ 5000000]
 [36500000]
 [22200000]
 [22000000]
 [13000000]
 [22000000]
 [13000000]
 [25000000]
 [16000000]
 [18000000]
 [22200000]
 [38000000]
 [16000000]
 [26500000]
 [ 4200000]
 [11500000]
 [ 6900000]
 [ 6700000]
 [ 5700000]
 [12000000]
 [ 4900000]
 [ 5225000]
 [10500000]
 [75000000]
 [11000000]
 [12600000]
 [12500000]
 [12900000]
 [ 7500000]
 [12900000]
 [ 4500000]
 [ 6200000]
 [ 9400000]
 [ 9500000]
 [18600000]
 [11500000]
 [14200000]
 [13500000]
 [ 7350000]
 [ 5600000]
 [ 5200000]
 [ 6370000]
 [ 6900000]
 [13000000]
 [ 8300000]
 [ 5700000]
 [ 5600000]
 [ 5500000]
 [ 6600000]
 [ 7000000]
 [11700000]
 [ 7000000]
 [ 9200000]
 [10000000]
 [11500000]
 [ 6700000]
 [ 7500000]
 [12000000]
 [11000000]
 [ 7000000]
 [11500000]
 [ 9500000]
 [21500000]
 [ 9300000]
 [12200000]
 [ 3800000]
 [ 7200000]
 [ 7200000]
 [10800000]
 [ 6500000]
 [ 5330000]
 [ 5575000]
 [ 9950000]
 [ 9300000]
 [ 3800000]
 [13200000]
 [20000000]
 [13500000]
 [10000000]
 [ 2200000]
 [ 2300000]
 [ 6500000]
 [ 7199500]
 [ 4500000]
 [ 5500000]
 [ 6200000]
 [ 6500000]
 [ 6500000]
 [ 4300000]
 [ 6500000]
 [ 6000000]
 [ 2780000]
 [ 3150000]
 [ 3150000]
 [ 4750000]
 [ 4300000]
 [ 4750000]
 [ 3360000]
 [ 7000000]
 [11000000]
 [25500000]
 [ 4000000]
 [ 9435000]
 [15200000]
 [12000000]
 [ 7000000]
 [ 5500000]
 [11500000]
 [ 9000000]
 [ 8600000]
 [12600000]
 [ 9000000]
 [19000000]
 [25000000]
 [28000000]
 [22500000]
 [17200000]
 [20000000]
 [45000000]
 [35000000]
 [18000000]
 [32000000]
 [16800000]
 [25000000]
 [13500000]
 [27000000]
 [24000000]
 [39000000]
 [33000000]
 [27600000]
 [27000000]
 [26000000]
 [32000000]
 [10900000]
 [ 5500000]
 [ 8200000]
 [ 5200000]
 [ 9000000]
 [ 5500000]
 [ 5800000]
 [ 5700000]
 [11300000]
 [11100000]
 [11000000]
 [ 6525000]
 [ 2600000]
 [11500000]
 [13500000]
 [10000000]
 [ 9000000]
 [ 4500000]
 [12000000]
 [ 7500000]
 [ 5500000]
 [ 8500000]
 [ 8000000]
 [ 5200000]
 [ 7800000]
 [ 6700000]
 [ 7300000]
 [ 4100000]
 [ 4700000]
 [ 4500000]
 [ 6000000]
 [ 7000000]
 [ 6700000]
 [ 4000000]
 [ 7500000]
 [ 5200000]
 [ 7500000]
 [18500000]
 [ 4600000]
 [ 5200000]
 [ 7400000]
 [ 7500000]
 [ 5000000]
 [ 7500000]
 [ 7886000]
 [ 8285000]
 [ 8170000]
 [ 9200000]
 [16000000]
 [12000000]
 [ 7781800]
 [ 6600000]
 [ 8602000]
 [ 7816600]
 [ 4900000]
 [ 9300000]
 [ 7816600]
 [ 7886200]
 [ 5500000]
 [ 8000000]
 [17000000]
 [ 7850000]
 [ 9421000]
 [ 8175000]
 [ 8250000]
 [ 6300000]
 [10360000]
 [ 3500000]
 [ 9000000]
 [ 6875000]
 [ 6875000]
 [21400000]
 [ 9800000]
 [ 9500000]
 [ 6050000]
 [11200000]
 [ 6625000]
 [ 5500000]
 [ 4575000]
 [ 6600000]
 [ 2826000]
 [ 6500000]
 [ 7850000]
 [ 7675000]
 [ 8250000]
 [10000000]
 [ 2475000]
 [ 5775000]
 [ 6966000]
 [14000000]
 [ 4200000]
 [21000000]
 [ 4500000]
 [ 5200000]
 [ 7500000]
 [ 6200000]
 [10500000]
 [23500000]
 [ 9000000]
 [25000000]
 [ 8300000]
 [ 8016000]
 [ 8300000]
 [20000000]
 [ 5800000]
 [ 8016000]
 [ 6056700]
 [ 8300000]
 [ 7800000]
 [13000000]
 [ 7500000]
 [ 9000000]
 [ 5000000]
 [ 5000000]
 [12000000]
 [ 8677500]
 [ 6000000]
 [ 5500000]
 [ 6380000]
 [ 3500000]
 [ 9660000]
 [ 7500000]
 [10300000]
 [13279000]
 [11900000]
 [ 4100000]
 [ 7600000]
 [ 8300000]
 [ 9000000]
 [ 6200000]
 [ 8200000]
 [ 8200000]
 [ 7400000]
 [ 5300000]
 [ 6600000]
 [ 4400000]
 [ 5000000]
 [ 4000000]
 [ 5900000]
 [ 5700000]
 [ 8000000]
 [ 8328000]
 [ 5500000]
 [16000000]
 [13500000]
 [ 5500000]
 [ 5000000]
 [ 4000000]
 [ 5695000]
 [ 5907500]
 [ 7500000]
 [ 8500000]
 [ 8500000]
 [ 4200000]
 [ 5525000]
 [ 6800000]
 [ 5500000]
 [ 6500000]
 [ 7500000]
 [ 3800000]
 [ 7000000]
 [ 6200000]
 [ 5500000]
 [13500000]
 [ 4800000]
 [ 3300000]
 [ 4500000]
 [ 7200000]
 [ 3800000]
 [ 6700000]
 [ 4440000]
 [ 4500000]
 [ 4400000]
 [ 7500000]
 [ 3200000]
 [ 5500000]
 [ 3200000]
 [ 6400000]
 [ 2800000]]

In [24]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=2)

In [25]:
print(X_train.shape)
print(X_test.shape)

(314, 6)
(35, 6)

In [26]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import r2_score,mean_absolute_error

In [27]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor,ExtraTreesRegressor
from sklearn.svm import SVR
from xgboost import XGBRegressor

In [28]:
import math

In [36]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0])
],remainder='passthrough')

###LinearRegression

step2 = LinearRegression()

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',metrics.mean_squared_error(y_test,y_pred))
print('RMSE',math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

R2 score 0.5859134500656447
MAE 2177594.4356522704
MSE 18129418216300.27
RMSE 4257865.45305277

In [37]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0])
],remainder='passthrough')

###KNeighborsRegressor

step2 = KNeighborsRegressor(n_neighbors=3)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',metrics.mean_squared_error(y_test,y_pred))
print('RMSE',math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

R2 score 0.4970571169992636
MAE 3110090.476190476
MSE 22019700630888.89
RMSE 4692515.384193097

In [38]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0])
],remainder='passthrough')

###DecisionTreeRegressor

step2 = DecisionTreeRegressor(max_depth=8)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',metrics.mean_squared_error(y_test,y_pred))
print('RMSE',math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

R2 score 0.682838908066487
MAE 2242277.6863648687
MSE 13885855694932.982
RMSE 3726372.9946065494

In [40]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0])
],remainder='passthrough')


####RandomForestRegressor

step2 = RandomForestRegressor(n_estimators=100,
                              random_state=3,
                              max_samples=0.5,
                              max_features=0.75,
                              max_depth=15)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',metrics.mean_squared_error(y_test,y_pred))
print('RMSE',math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

/usr/local/lib/python3.7/dist-packages/sklearn/pipeline.py:394: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

R2 score 0.7338487480354505
MAE 2224436.513062101
MSE 11652557554506.793
RMSE 3413584.2679662667

In [41]:
step1 = ColumnTransformer(transformers=[
    ('col_tnf',OneHotEncoder(sparse=False,drop='first'),[0])
],remainder='passthrough')

###Lasso

step2 = Lasso(alpha=0.001)

pipe = Pipeline([
    ('step1',step1),
    ('step2',step2)
])

pipe.fit(X_train,y_train)

y_pred = pipe.predict(X_test)

print('R2 score',r2_score(y_test,y_pred))
print('MAE',mean_absolute_error(y_test,y_pred))
print('MSE',metrics.mean_squared_error(y_test,y_pred))
print('RMSE',math.sqrt(metrics.mean_squared_error(y_test,y_pred)))

R2 score 0.585913448087077
MAE 2177594.448629671
MSE 18129418302925.355
RMSE 4257865.463225131